<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method = 'post'>
    Name: <br>
    <input type = 'text' name = 'name'>
    <br>Skin type: <br>
    <select name = 'skintype'>
        <option value = 'oily'>Oily</option>
        <option value = 'combination'>Combination</option>
        <option value = 'normal'>Normal</option>
        <option value = 'dry'>Dry</option>
        </select><br>
    Manicure or Pedicure? <br>
    <select name = 'manipedi'>
        <option value = 'manicure'>Manicure</option>
        <option value = 'pedicure'>Pedicure</option>
        </select><br>
    <input type = 'submit' value = 'Submit'>
    </form>

</body>
</html>